 .ppdb-header {
     background: linear-gradient(135deg, #007bff, #00c6ff);
     color: white;
     padding: 90px 0;
     text-align: center;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
 }

 .ppdb-header h2 {
     font-weight: 700;
     font-size: 2.2rem;
 }

 .ppdb-header h3 {
     font-weight: 500;
     font-size: 1.5rem;
 }

 .ppdb-info-box {
     background-color: #fff;
     border-radius: 1rem;
     padding: 1.5rem;
     transition: transform .2s ease;
 }

 .ppdb-info-box:hover {
     transform: scale(1.02);
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
 }

 .ppdb-section {
     padding: 50px 0;
 }

 .cta-btn-wa {
     background-color: #25D366;
     color: white;
 }

 .cta-btn-daftar {
     background-color: #3d89d9;
     color: white;
 }

 .cta-btn-daftar:hover {
     background-color: #007bff82;
     color: white;
 }

 .cta-btn-wa:hover {
     background-color: #26904d;
     color: white;
 }

 .single-underline::after {
     content: "";
     display: block;
     width: 80px;
     height: 3px;
     background-color: #003366;
     margin: 8px auto;
 }

 /* style bukti pendaftaran */
 .foto {
     width: 90px;
     height: 120px;
     object-fit: cover;
     border: 1px solid #000;
 }

 table td {
     vertical-align: top;
 }

 /* style cek status */
 .ppdb-card {
     border: none;
     overflow: hidden;
 }

 .ppdb-card .card-header {
     background: linear-gradient(90deg, #007bff, #00c6ff);
     font-weight: bold;
     font-size: 1.25rem;

 }

 .btn-check-status {
     background: linear-gradient(90deg, #007bff, #00c6ff);
     border: none;
     font-weight: 600;
     transition: 0.3s ease-in-out;
     border-radius: 50px;
     padding: 10px 25px;
     color: white;
 }

 .btn-check-status:hover {
     background: linear-gradient(90deg, #0056b3, #0099cc);
     transform: scale(1.05);
 }

 /* style hasil cek status  */
 .status-card {
     border-radius: 1rem;
     overflow: hidden;
 }

 .status-header {
     background: linear-gradient(135deg, #28a745, #218838);
     color: #fff;
     padding: 1.5rem;
 }

 .status-header h4 {
     margin: 0;
     font-weight: 700;
 }

 .info-box {
     background: #fff;
     border-radius: .75rem;
     padding: 1.5rem;
     box-shadow: 0 3px 6px rgba(0, 0, 0, .05);
 }

 .alert {
     border-radius: .75rem;
     font-size: .95rem;
 }

 .download-btn {
     display: inline-block;
     margin-top: 1rem;
 }

 /* end style hasil cek status   */

 /* style form pendaftaran */
 .card_pendaftaran {
     border-radius: 1rem !important;
 }